<!DOCTYPE html>
<html>
<head>
  <title>Sp messages</title>
  <%= stylesheet_link_tag    "sp_messages/application", media: "all" %>
  <%= javascript_include_tag "sp_messages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
